@import url(http://fonts.googleapis.com/css?family=Lato:400,400italic,300,900,700);
button:focus, input:focus {outline:0 !important;}

*,html,body{
	-webkit-user-select: none;
	-webkit-touch-callout: none;
	-webkit-box-sizing: border-box;
	margin:0;
	padding:0;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	font-family: 'Lato', Arial;
	font-weight: 300;
}

html {
	height: 100%;
	width:100%;
	overflow:hidden;
	position: absolute;
	left:0;
	right: 0;
	top: 0;
	bottom:0;
}

body {
	width: 100%;
	height: 100%;
	overflow:hidden;
	position: absolute;
	left:0;
	right: 0;
	top: 0;
	bottom:0;
	color: #666;
	background: #fff;
	font-size: 2em;
	font-family: Lato;
	font-weight: 400;
}

strong {
	font-style: bold;
	font-weight:900;
}

/* Responsive fontsizes */
h1 {
	font-size:36px;
	font-size: 4.5vh;
}
h2 {
	font-size:28px;
	font-size: 3.5vh;
	color:rgba(50,50,50,.9);
}
p {
	font-size: 18px;
	font-size: 2vh;
}


.hide {display: none !important; top: -200% !important;}

.hidden {
	display: none;
	top: -200%;
}
/*
.spacing-left {
	margin-left: 30px;
	margin-left: 2vw;
}

.schedule {
	list-style-type: none;
	margin-top: 50px;
	margin-top: 6vmin;
	font-size: 28px;
	font-size: 4vmin;
}

.schedule li {
	padding: 15px 35px;
	padding: 2vmin 4vmin;
	border-bottom: 1px solid rgba(50,50,50, .2);
}

.schedule li:first-child {

}*/

/* 
Generic Styling, for Desktops/Laptops 
*/

.schedule {
/*	margin-top: 50px;
	margin-top: 5vmin;*/
}
.schedule_entry {
	cursor:pointer;
}

table { 
  width: 100%; 
  border-collapse: collapse; 
}
/* Zebra striping */
tr:nth-of-type(odd) { 
  background: #eee; 
}
th { 
  background: #fff; 
  font-weight: bold; 
}
td, th { 
  padding: 15px; 
  border-bottom: 1px solid #ccc; 
  border-top: 1px solid #ccc; 

  text-align: left; 
}

.extra {
	width: 100%;
	background: #eee;
}

.spacing-left {
	margin-left: 20px;
	margin-left: 2vmin;
}

.spacing-right {
	margin-right: 20px;
	margin-right: 2vmin;
}

.search-form {
	padding: 0;
	margin:0;
	width: 100vw;
	display:inline;	
	border: 0;
	background: none;
}

.loader {
	position: absolute;
	width: 5vw;
	height: 5vw;
	top: 2.5vh;
	left: 1vw;
	font-size: 4vw;
	z-index: 99999;
}

#search {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	width: 100%;
	height: 100px;
	text-align:center;
	z-index:200;
	-moz-transition: all 0.7s ease-in-out;
	-webkit-transition: all 0.7s ease-in-out;
	-o-transition: all 0.7s ease-in-out;
	transition: all 0.7s ease-in-out;  
}

#search.hide {
	display:none;
	top: -200%;
	-moz-transition: all 0.7s ease-in-out;
	-webkit-transition: all 0.7s ease-in-out;
	-o-transition: all 0.7s ease-in-out;
	transition: all 0.7s ease-in-out;  
}

input.searchfield {
	position:relative;
	border: 0;
	background: rgba(255,255,255,.5);
	text-align:left;
	margin:auto;
	height: 40px;
	width: 50%;
	margin-top: 2vh;
	padding-left: 2vw;
	padding-right: 2vw;
	font-size: 2vh;
	-moz-transition: all 0.2s ease-in-out;
	-webkit-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;  
}

input.searchfield.active {
	top: 0;
	margin-top: 0 !important;
	width: 100%;
	height: 70px;
	background: #fff;
	font-size: 20px;
	padding-left: 7vw;
	box-shadow: 0px 2px 1px rgba(50,50,50,.2);
	-moz-transition: all 0.2s ease-in-out;
	-webkit-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;  
}

.searchbtn {
	position:absolute;
	border: 0;
	padding:0;
	border: 0;
	height: 5vh;
	width: 5vw;
	background:none;
	right: 5vw;
	font-size: 2vh;
}

.searchresults {
	display:block;
	margin:auto;
	width: 80vw;
	position: relative;
	top: 90px;
	height: 86vh;
	overflow-y: auto;
	z-index: 9999;
	opacity: 1;
}

.result {
	display: inherit;
	width: 75vw;
	background: rgba(255,255,255, 1);
	padding: 10px 20px;
	border-bottom: 1px solid rgba(50,50,50,.1);
	font-size: 18px;
	cursor: pointer;
}

#map {
	-moz-transition: all 0.2s ease-in-out;
	-webkit-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;  

}

.map {
	position: absolute;
	top: 0px;
	left:0px;
	right: 0px;
	bottom: 0px;
	width: 100%;
	height: 100vh;
	z-index:1;
}

.map_collapse {
	height: 35vh;
	top: 0px;
	left: 0px;
	right: 0px;
}

#drawer {
	-moz-transition: all 0.2s ease-in-out;
	-webkit-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;  

}

.drawerheader {
	background: #fff;
	padding: 0.8vmin 3vmin;
	padding-right: 0;
	left:0;
	z-index: 20;
	width: 100%;
	display:block;
	height: 18vh;
	overflow: hidden;
	border-bottom: 2px solid rgba(50,50,50, .2);

	-webkit-animation: busStop 1s;
    -moz-animation: busStop 1s;
    animation: busStop 1s;
}

.nearMe, .nearMe h2 {
	background: #2980b9;
	color: rgba(255,255,255, .9) !important;
   -webkit-animation: nearMe 1s; /* Chrome, Safari, Opera */
   -moz-animation: nearMe 1s;
    animation: nearMe 1s;
}


.headertext {
	max-width: 82vw;
	min-width: 82vw;
	float:left;
	display:inline-block;
/*	border-right: 1px solid #ccc;
*/
}
.myLoc {
	background: url(../img/myLocBtn.png) center center no-repeat;
	background-size: contain;
	background-size: 80% auto;
	border: none;
	float:right;
	display:inline;
	min-width: 14vw;
	max-width: 14vw;
	font-size: 8vh;
	text-align:center;
	height: 100%;
	-webkit-transition: 0.4s ease-in-out;
    -moz-transition: 0.4s ease-in-out;
    -o-transition: 0.4s ease-in-out;
    transition: 0.4s ease-in-out;
}

.myLoc.active {
    -webkit-transition: 1s ease-in-out;
    -moz-transition: 1s ease-in-out;
    -o-transition: 1s ease-in-out;
    transition: 1s ease-in-out;

    -webkit-transform: rotate(360deg) scale(1.2);
    -moz-transform: rotate(360deg) scale(1.2);
    -o-transform: rotate(360deg) scale(1.2);
    -ms-transform: rotate(360deg) scale(1.2);
    transform: rotate(360deg) scale(1.2);
}


.drawercontent {
	display:block;
	overflow-y: auto;
	height:52vh;
	z-index: 3;
}

.yellow {
	color: rgba(241, 196, 15,1.0);
}

.dark-yellow {
	color: rgba(243, 156, 18,1.0);
}

.drawer {
	z-index: 10;
	position: absolute;
	bottom: 0;
	left:0;
	right:0px;
	min-height: 18vh;
	max-height: 18vh;
	height: 18vh;
	box-shadow: 0px -4px 2px rgba(50,50,50, .2);
/*	border-top: 4px solid rgba(50,50,50,.1);
*/	background: url(../img/drawerbg.png) repeat-x top center;
}

.drawer_hidden {
	bottom: -18vh;}

.drawer_open {
	max-height: 70vh;
	height: 70vh !important;
	-moz-transition: all 1s ease-in-out;
	-webkit-transition: all 1s ease-in-out;
	-o-transition: all 1s ease-in-out;
	transition: all 1s ease-in-out;  

}

.connection {
	width: 100%;
	position:absolute;
	top:0;
	left:0;
	height: 5px;
	z-index:2;
	background: orange;
	-moz-transition: all 1s ease-in-out;
	-webkit-transition: all 1s ease-in-out;
	-o-transition: all 1s ease-in-out;
	transition: all 1s ease-in-out;  

}

.connected {
	background: green;
	height: 0px;
}

.disconnected {
	background: red;
}

/* Responsive stuff */
/* 
Max width before this PARTICULAR table gets nasty
This query will take effect for any screen smaller than 760px
and also iPads specifically.
*/
@media 
only screen and (max-width: 760px),
(min-device-width: 768px) and (max-device-width: 1024px)  {

	/* Force table to not be like tables anymore */
	table, thead, tbody, th, td, tr { 
		display: block; 
	}
	
	.hide { display: none !important; top: -200% !important; }

	/* Hide table headers (but not display: none;, for accessibility) */
	thead tr { 
		position: absolute;
		top: -9999px;
		left: -9999px;
	}
	
	tr { border: 1px solid #ccc; }
	
	td { 
		/* Behave  like a "row" */
		border: none;
		/*border-bottom: 1px solid #eee; */
		position: relative;
		padding: 6px;
		font-size: 18px;
		padding-left: 50%; 
	}
	
	td:before { 
		/* Now like a table header */
		position: absolute;
		/* Top/left values mimic padding */
		top: 6px;
		left: 6px;
		width: 45%; 
		padding-left: 20px; 
		white-space: nowrap;
	}
	
	/*
	Label the data
	*/
	td:nth-of-type(1):before { content: "Lähtee"; }
	td:nth-of-type(2):before { content: "Aikaa"; }
	td:nth-of-type(3):before { content: "Linja"; }
	td:nth-of-type(4):before { content: "Päätepysäkki"; }
	td:nth-of-type(5):before { content: "Pysäkiltä"; }

}


@-webkit-keyframes nearMe {
    from {background: white; color: rgba(50,50,50, .8);}
    to {background: #2980b9; color: rgba(255,255,255,.9);}
}

@-moz-keyframes nearMe {
    from {background: white; color: rgba(50,50,50, .8);}
    to {background: #2980b9; color: rgba(255,255,255,.9);}
}

@keyframes nearMe {
    from {background: white; color: rgba(50,50,50, .8);}
    to {background: #2980b9; color: rgba(255,255,255,.9);}
}


@-webkit-keyframes bustStop {
    from {background: #2980b9; color: rgba(255,255,255,.9);}
    to {background: white; color: rgba(50,50,50, .8);}

@-moz-keyframes bustStop {
    from {background: #2980b9; color: rgba(255,255,255,.9);}
    to {background: white; color: rgba(50,50,50, .8);}
}

@keyframes bustStop {
    from {background: #2980b9; color: rgba(255,255,255,.9);}
    to {background: white; color: rgba(50,50,50, .8);}

